h4 {
    color: darkgreen;
}

body {
    color: #000000;
}

p {
    color: rebeccapurple;
}
                                                                                                                                                            
button {
    background-color: rgb(70, 207, 28);
    color: brown;                                                                                                                                     ;
}